/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  /* Color Variables */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-ray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: var(--Magnolia);
  position: relative;
}

/* For mobile don't display contenet*/
.step-content {
  display: none;
}
.stp {
  display: none;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  display: flex;
  background-size: cover;
  justify-content: center;
  padding: 1rem 2rem 3rem 2rem;
}

.form-content {
  position: absolute;
  top: 16%;
  right: 3%;
  left: 3%;
  background-color: var(--White);
  border-radius: 10px;
}

/* circle padding */
.step {
  padding: 0.5rem;
}

.stp-active {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle {
  border: 1px solid var(--White);
  border-radius: 50%;
  padding: 0.6rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}

.form-inputs {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.post-title {
  padding: 1rem 0.5rem;
  font-weight: 700;
  font-size: 25px;
  color: var(--Marine-blue);
}

.post-info {
  padding: 0 0.5rem;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Cool-ray);
}

.primary-btns {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  background-color: var(--White);
  bottom: 0;
  right: 0;
  left: 0;
}

.form-inputs label {
  padding: 1rem 1rem 0.4rem 0;
  font-size: 13px;
  color: var(--Marine-blue);
  display: flex;
  justify-content: space-between;
}

p.error {
  display: none;
  color: var(--Strawberry-red);
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: solid 1px var(--Light-gray);
}

.stp-1 .primary-btns {
  display: initial;
}

.next-btn {
  background-color: var(--Marine-blue);
  color: var(--Alabaster);
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
}

/* step 2 */
.plan-card {
  padding: 0.3rem;
  flex: 1;
}

.plan-cards {
  padding: 1rem 0;
}

.prev-stp {
  color: var(--Cool-ray);
}

.billing-plan {
  border: 1px solid var(--Light-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.billing-plan img {
  padding: 1.5rem 1rem;
}

.plan-info p:nth-child(1) {
  color: var(--Marine-blue);
  padding-bottom: 0.3rem;
  font-weight: 500;
}

.plan-priced {
  color: var(--Cool-ray);
}

/* Style the border of the selected plan card */
input[type="radio"]:checked + .billing-plan {
  border-color: var(--Marine-blue);
}

.toggle-plan {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  background-color: var(--Magnolia);
}

.toggle-plan p {
  padding: 0 1rem;
}
#check {
  display: none;
}

#toggle {
  display: inline-block;
  width: 2.2rem;
  padding: 0 0.5rem;
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  order: 2;
}

#toggle::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--White);
  border-radius: 1rem;
  transition: transform 0.3s;
}

#monthly {
  color: var(--Marine-blue);
}
#yearly {
  order: 2;
  color: var(--Cool-ray);
}

.yearly-free {
  display: none;
  padding-top: 0.3rem;
  font-size: 14px;
  font-weight: initial;
  color: var(--Marine-blue);
}

.yearly-free.active {
  display: initial;
}

#check:checked + #toggle {
  background-color: var(--Marine-blue);
}

#check:checked + #toggle::before {
  transform: translateX(1rem);
}

#check:checked ~ #monthly {
  color: var(--Cool-ray);
}

#check:checked ~ #yearly {
  color: var(--Marine-blue);
}

/* step 3 */
.chkboxes {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chkbox {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: solid 1px var(--Light-gray);
  border-radius: 10px;
  align-items: center;
}
.addons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  flex: 1;
}

.addons div p:nth-child(1) {
  font-weight: 500;
  color: var(--Marine-blue);
}

.addons div p:nth-child(2) {
  padding-top: 0.2rem;
  font-size: 15px;
  color: var(--Cool-ray);
}

.addon-description {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.chkbox:has(input:checked) {
  border: 1px solid var(--Marine-blue);
}

.addons > p {
  font-size: 13px;
  color: var(--Purplish-blue);
}

.addons div {
  padding: 0 0 0 0.5rem;
  flex: 1;
}

input[type="checkbox"] {
  accent-color: var(--Purplish-blue);
  width: 18px;
  height: 18px;
}

/* step 4 */

.add-ons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectedDetailBox {
  padding: 1rem 1.5rem;
}

.selection-box {
  padding: 1rem 1rem;
  background-color: var(--Magnolia);
}
.selected-addon {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.selected-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--Light-gray);
}

.selection-container {
  padding: 0.5rem 0;
}

#selectedAddonsContainer {
  padding: 0.5rem 0;
}

.total {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--White);
}

.plan-price {
  color: var(--Marine-blue);
  font-weight: 500;
}

#totalAmount {
  color: var(--Purplish-blue);
}

.stp-4 .next-btn {
  background-color: var(--Purplish-blue);
  color: var(--Alabaster);
}

#per-period {
  padding: 0;
  color: var(--Cool-ray);
}

.plan-and-change {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--Marine-blue);
  font-weight: 500;
}

.change {
  font-size: 14px;
  color: var(--Cool-ray);
  text-decoration: underline;
  padding-bottom: 1rem;
}

.change:hover {
  color: var(--Purplish-blue);
}

.service-name {
  color: var(--Cool-ray);
}

/* step 5 */
.stp-5 {
  flex-direction: column;
}

.thankyou-title {
  text-align: center;
  padding: 1rem;
  color: var(--Marine-blue);
}

.thankyou-msg {
  text-align: center;
  font-size: 14px;
}

input[type="radio"] {
  display: none;
}
.step-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.4rem;
  justify-content: space-between;
}
.thankyou-msg p {
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
  padding: 1rem;
  color: var(--Cool-ray);
}
.thankyou-img {
  padding: 1.5rem;
}

@media (min-width: 975px) {
  body {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    background-color: var(--White);
    border-radius: 1rem;
    min-height: 582px;
  }
  .sidebar {
    display: initial;
    position: static;
    padding: 1rem;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: 100% contain;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 1rem 0 1rem 1rem;
  }

  .primary-btns {
    padding: 0;
  }

  .form-content {
    display: flex;
    position: static;
  }

  .stp-active {
    padding: 2rem 4rem;
  }

  .step {
    padding: 1rem;
    display: flex;
  }

  .step-content {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 1.5rem;
    color: var(--Pastel-blue);
    font-size: 13px;
    font-weight: 400;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .form-inputs {
    padding: 1rem 0 5rem 0rem;
  }

  .post-title {
    padding: 1rem 0 0.5rem 0;
    font-size: 30px;
    min-width: 497px;
  }

  .post-info {
    padding: 0.5rem 0 1rem 0;
    font-size: 18px;
  }

  .primary-btns {
    position: relative;
    top: 1rem;
  }

  input {
    padding: 0.5rem;
  }

  input[type="text"] {
    height: 30px;
  }

  .step-title {
    color: var(--Alabaster);
    font-size: 16px;
    font-weight: 500;
  }

  /* step-2 */
  .plan-cards {
    display: flex;
  }

  .billing-plan {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0.5rem 1.5rem 1.2rem;
  }

  .billing-plan img {
    padding: 0 1rem 2.5rem 0;
  }

  /* step 5 */
  .thankyou-msg p {
    max-width: 485px;
    line-height: 1.5;
    font-size: 16px;
  }
}
